@model ASP_P22.Data.Entities.Category

<div class="card mx-3" style="width: 24rem;">
    <img src="@("/Storage/Item/" + Model.ImagesCsv.Split(',').FirstOrDefault())" class="card-img-top" alt="">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
    </div>
</div>