@{
    ViewData["Title"] = "Відгук";
}

<link rel="stylesheet" href="~/css/User/user_rate.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4">Відгук про сайт</h1>
</div>

<form asp-action="LeftReview">
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="comment-field" class="form-label comm">Коментар</label>
                <textarea class="form-control" id="comment-field" name="Comment" rows="3"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="user-rate-block">
                <label class="form-label">Оцінка:</label>
                <div class="star-rate">
                    <input type="radio" id="star-5" name="Rate" value="5">
                    <label for="star-5" title="5 зірок"><i class="bi bi-star"></i></label>

                    <input type="radio" id="star-4" name="Rate" value="4">
                    <label for="star-4" title="4 зірки"><i class="bi bi-star"></i></label>

                    <input type="radio" id="star-3" name="Rate" value="3">
                    <label for="star-3" title="3 зірки"><i class="bi bi-star"></i></label>

                    <input type="radio" id="star-2" name="Rate" value="2">
                    <label for="star-2" title="2 зірки"><i class="bi bi-star"></i></label>

                    <input type="radio" id="star-1" name="Rate" value="1">
                    <label for="star-1" title="1 зірка"><i class="bi bi-star"></i></label>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col text-end">
            <button type="submit" class="btn btn-primary">Залишити відгук</button>
        </div>
    </div>
</form>

@Html.DisplayFor(m => ViewData["reviewModel"])